

footer{
    background-color: var(--contrast-color);
    position: relative;
  }

footer p {
      color: var(--primary-bg-color);
}
footer p strong {
      color: var(--primary-bg-color);
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(14, auto);
}

.footer-grid .logo {
  width: 50%;
  margin-top: 2rem;
  justify-self: center;

  grid-column: 3 / 5;
  grid-row: 2 / 3;
}

.footer-grid .p1 {
  text-align: center;
  padding: 10px;
  
  grid-column: 3 / 5;
  grid-row: 4 / 6;
}

.footer-grid .p2 {
  text-align: center;
  padding: 10px;

  grid-column: 3 / 5;
  grid-row: 7 / 9;
}

.footer-grid .p3 {
  text-align: center;
  padding-top: 10px;

  grid-column: 3 / 5;
  grid-row: 10 / 11;
}

.footer-grid .grid-logos {
  justify-self: center;
  margin-bottom: 2rem;

  grid-column: 3 / 5;
  grid-row: 11 / 12;
}

.footer-grid .grid-logos img {
  height: 70%;
}

.hans {
    position: absolute;
    height: 40%;
    right: -91px;
    bottom: 176px;
    rotate: 327deg;
}
