header {
    display: flex;
    align-items: center; 
    height: 7vh;
    margin-top:0.5rem;

}

header .logo {
    max-height: 100%;
    width: auto;
}


.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    margin-bottom: 5rem;
}
  
.hero-img {
    width: 100%;
    display: block;
    max-height: 750px;
    object-fit: cover;
    object-position: top center;
    filter: brightness(0.5);
    transition: object-position 0.2s ease;
}


@media (min-width: 768px) {
    .hero-img {
        object-position: 50% 30%;
    }
}
